li {
	list-style: none;
}

.opcoes {
	display: flex;
	gap: 30px;
}

.opcao {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	cursor: pointer;
	text-transform: uppercase;
}
